.col-md-6.col-md-offset-3
  .panel.panel-info
    .panel-heading Log In
    .panel-body
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email, required: false, autofocus: true
          = f.input :password, required: false
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.button :submit, "Log in", class: 'btn btn-success'
          = render "users/shared/links"
