- if user_signed_in?
  = simple_form_for @post do |f|
    .panel.panel-info
      .panel-heading New Status
      .panel-body
        = f.input :content, label: false, placeholder: 'Create status here...'
      .panel-footer
        = f.button :submit, "Submit", class: 'btn btn-primary'

- @posts.each do |post|
  .panel.panel-default
    .panel-body
      strong= "#{post.user.full_name} : "
      = post.content
    .panel-footer
      = link_to pluralize(post.cached_votes_total, 'like'), like_post_path(post), method: :post, class: 'btn btn-sm'
      = link_to pluralize(post.comments_count, 'comment'), post_path(post), class: 'btn btn-sm'
      .pull-right= post.created_at.strftime("%B %d, %Y at %H:%M")
      
= paginate @posts
