.col-md-8.col-md-offset-2
  .panel.panel-success
    .panel-heading Notifications
    .list-group
      - if @notifications.empty?
        a.list-group-item
          h4.list-group-item-heading You don't have any notifications.
      - else
        - @notifications.each do |notification|
          - case notification.key
          - when "post.comment"
            = link_to post_path(notification.trackable), class: "list-group-item #{readed(notification.read_at)}" do
              h4.list-group-item-heading
                i= notification.owner.full_name
                |  comment your post 
                = "\"#{strip_tags(truncate(notification.trackable.content, length: 50))}\""
              p.list-group-item-text
                small= notification.created_at.strftime("%B %d, %Y at %H:%M")
          - when "post.like"
            = link_to post_path(notification.trackable), class: "list-group-item #{readed(notification.read_at)}" do
              h4.list-group-item-heading
                i= notification.owner.full_name
                |  like your post 
                = "\"#{strip_tags(truncate(notification.trackable.content, length: 50))}\""
              p.list-group-item-text
                small= notification.created_at.strftime("%B %d, %Y at %H:%M")
          - when "comment.comment"
            = link_to post_path(notification.trackable.commentable), class: "list-group-item #{readed(notification.read_at)}" do
              h4.list-group-item-heading
                i= notification.owner.full_name
                |  reply your comment 
                = "\"#{strip_tags(truncate(notification.trackable.comment, length: 50))}\""
              p.list-group-item-text
                small= notification.created_at.strftime("%B %d, %Y at %H:%M")
          - when "comment.like"
            = link_to post_path(notification.trackable.commentable), class: "list-group-item #{readed(notification.read_at)}" do
              h4.list-group-item-heading
                i= notification.owner.full_name
                |  like your comment 
                = "\"#{strip_tags(truncate(notification.trackable.comment, length: 50))}\""
              p.list-group-item-text
                small= notification.created_at.strftime("%B %d, %Y at %H:%M")