.col-md-6.col-md-offset-3
  .panel.panel-info
    .panel-heading Change your password
    .panel-body
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification

        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          = f.input :password_confirmation, label: "Confirm your new password", required: true
        .form-actions
          = f.button :submit, "Change my password", class: 'btn btn-success'
          = render "users/shared/links"

