.col-md-6.col-md-offset-3
  .panel.panel-info
    .panel-heading Forgot your password?
    .panel-body
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :email, required: true, autofocus: true
        .form-actions
          = f.button :submit, "Send me reset password instructions", class: 'btn btn-success'
          = render "users/shared/links"
