.panel.panel-default
  .panel-body
    strong= "#{@post.user.full_name} : "
    = @post.content
  .panel-footer
    = link_to pluralize(@post.cached_votes_total, 'like'), like_post_path(@post), method: :post, class: 'btn btn-sm'
    = link_to pluralize(@post.comments_count, 'comment'), post_path(@post), class: 'btn btn-sm'

.panel.panel-primary
  .panel-heading Comments
  .panel-body
    = simple_form_for(@comment, url: post_comments_path(@post), method: :post) do |f|
      = f.input :comment, label: false, placeholder: 'Comment here...'
      = f.submit "Submit", class: 'btn btn-success'

  .list-group
    - @comments.each do |comment|
      a.list-group-item data-toggle="collapse" href="#comment_#{comment.id}"
        .comment
          strong= "#{comment.user.full_name} : "
          = comment.comment
        .created_at
          .pull-right
            small= comment.created_at.strftime("%B %d, %Y at %H:%M")
        .clearfix
      .collapse id="comment_#{comment.id}"
        .list-group-item
          = simple_form_for(@comment, url: comment_post_comment_path(@post, comment), method: :post) do |f|
            = f.input :comment, label: false, placeholder: 'Reply comment here...'
            = link_to pluralize(comment.cached_votes_total, 'like'), like_post_comment_path(@post, comment), method: :post, class: 'btn btn-default'
            |  
            = f.submit "Reply", class: 'btn btn-success'

          - unless comment.comments.empty?
            br
            .panel.panel-info
              .panel-heading Replies
              ul.list-group
                - comment.comments.each do |c|
                  li.list-group-item
                    strong= "#{c.user.full_name} : "
                    = c.comment
  .panel-footer
    = paginate @comments