- if flash
  - flash.each do |type, message|
    div class="alert alert-#{type} alert-dismissible" role="alert"
      button.close aria-label="Close" data-dismiss="alert" type="button" 
        span aria-hidden="true"  &times;
      
      = message
