= nav_bar brand: "socialAppks", responsive: true do
  - if user_signed_in?
    = menu_group do
      = menu_item "Home", root_path
      = menu_item notifications_path do
        | Notifications 
        span.badge= count_notifications(@notifications)
    = menu_group pull: :right do
      = drop_down "Account" do
        = menu_item "Log Out", destroy_user_session_path, method: :delete
  - else
    = menu_group do
      = menu_item "Home", root_path
    = menu_group pull: :right do
      = menu_item "Sign In", new_user_session_path
      = menu_item "Sign Up", new_user_registration_path