.col-md-6.col-md-offset-3
  .panel.panel-primary
    .panel-heading Register
    .panel-body
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :first_name, required: true, autofocus: true
          = f.input :last_name, required: true
          = f.input :email, required: true
          = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          = f.input :password_confirmation, required: true
        .form-actions
          = f.button :submit, "Sign up", class: 'btn btn-success'
          = render "users/shared/links"
